:root {
  --bg-color: #ffffff;
  --text-color: #111;
  --card-bg: #f5f5f5;
  --primary-color: #4f46e5;
}

[data-theme="dark"] {
  --bg-color: #0f172a;
  --text-color: #e5e7eb;
  --card-bg: #1e293b;
}

/* Apply globally */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}


html, body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
